* {
    box-sizing: border-box;
}

:root {
    --dark-400: #334155;
    --dark-700: #090d18;
    --white-400: #ddd;
    --white-700: #fff;
}

.theme {
    background-color: var(--white-700);
    color: var(--dark-700);
}

.theme-dark {
    background-color: var(--dark-700);
    color: var(--white-700);
}

body {
    background-color: var(--white-400);
    color: var(--dark-700);
    margin: 0;
}

.wrapper {
    max-width: 500px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: auto;
    padding: 1em;
    
}

button,
input,
select {
    color: inherit;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

form>* {
    background-color: transparent;
    border: 1px solid var(--white-400);
}

.color-input {
    min-width: 70px;
    min-height: 40px;
}

.btn {
    padding: 0.3em 0;
}

.fa {
    font-size: 1.3rem;
    padding: 0.15em;
}

.fa-sun-o,
.fa-moon-o {
    color: rgb(235, 175, 10);
}

.scheme-colors {
    display: flex;
    padding: 1em 0;
    height: 100%;
}

.scheme-color {
    display: grid;
    align-items: end;
    text-align: center;
    width: 20%;
    height: 100%;
}

.scheme-hex {
    padding: 0.2em;
    border: 1px dashed #727070;
}

footer {
    text-align: center;
    letter-spacing: 2px;
}